body{
    background: #bdbbbb;
}

header{
    background: #bdbbbb;
    padding: 20px;
    text-align: center;
}

header h1{
    font-size: 26pt;
}

h2{
    font-size: 20pt;
    font:italic
}

main{
    margin: 20px;
}

p{
    margin: 10px 2px;
}

main ul, main ol{
    margin-left: 20px;
    margin-bottom:10px;
}
main ul{
    list-style-type: lower-roman;
}

main ol{
    list-style-type:upper-roman;
}

footer{
    font-size: 14pt;
}
